<!DOCTYPE html>

<html>
<header>
<title>R00163702 FYP</title>
<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</header>
<body>
<div id="wrapper">
<div id="top">
	<br><br>
	<p>
		<center>
			Using characteristics of demographics to match to properties in order to find those of best fit.
		</center>
	</p>
</div>
<nav>
	<ul>
	<li><a href="index">Home</a></li>
	<li><a href="application">Application</a></li>
	<li><a href="https://github.com/aaronk123/Final-Year-Project">Github</a></li>
	</ul>
</nav>





</div>
</body>
</html>